body{
    background-image: url('https://static.natgeo.pt/files/styles/image_3200/public/01-milky-way-NationalGeographic_1959323.webp?w=1450&h=967&q=100');
    background-size: cover;
}

header, h1{
    font-family: 'Audiowide', cursive;
    text-align:center;
    color: blue;
}

header, h2, p {
    font-family: 'Audiowide', cursive;
    color: blue;
    text-align: center;
}
.divPai{
    display: flex;
    flex-direction: column;
}
.divEntrada {
    text-align: center;
}
.divCampoTextoEData {
    display: flex;
    flex-direction: column;
}
#texto {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-family: 'Audiowide', cursive;;
    margin-left: 35%; margin-right: 35%; margin-bottom: 1%;
}
#ddMMAAAA {
    margin-left: 35%; margin-right: 35%; margin-top: 1%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: blue;
    font-family: 'Audiowide', cursive;
   
}

#btnDeBusca{
    font-family: 'Audiowide', cursive;
    border: none;
    height: 140px;
    width: 140px;
    align-items: center;
    font-size: 25px;
    background-color: blue;
    color:white;
    border-radius: 50%;
    margin-top: 5%;
   
}

#btnDeBusca:active {
    font-family: 'Audiowide', cursive;
    background-color: white;
    color: blue;
    font-weight: bold;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divfoto{
    display: flex;
    justify-content: space-evenly;
}

#mensTitulo {
    color: blue;
    font-family: 'Audiowide', cursive;
    font-size: 30px;
}


#imagem {
    width:600px;
    height: 500px;
    margin: 20px 20px;
    border-radius: 35px;
    align-items: center;
}
#filme{
    width:600px;
    height: 500px;
    margin: 20px 20px;
    border-radius: 35px;
}

#mensDescricao {
    font-size: 15px;
    width: 25%;
}

footer{
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: white;
}
